<div class="container">
  <div class="row my-4">
    <h1>Bind it!</h1>
  </div>
  <div class="row my-4">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">1. Create three new components: GameControl, Odd and Even</li>
        <li class="list-group-item list-group-item-success">2. The GameControl Component should have buttons to start and stop the game</li>
        <li class="list-group-item list-group-item-success">3. When starting the game, an event (holding a incrementing number) should get emmited each second (ref = setInterval())</li>
        <li class="list-group-item list-group-item-success">4. The event should be listenable from outside the component</li>
        <li class="list-group-item list-group-item-success">5. When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <li class="list-group-item list-group-item-success">6. A new Odd component should get created for every odd number emitted, the same should happen for the Even component (on even numbers)</li>
        <li class="list-group-item list-group-item-success">7. Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li class="list-group-item list-group-item-success">8. Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ul>
    </div>
  </div>
  <app-game-control (numberEmitted)="onNumberEmitted($event)"></app-game-control>
  <div class="row my-4">
    <div class="col-md-6">
      <h3> Evens </h3>
      <app-even *ngFor="let even of evenList" [number]="even"></app-even>
    </div>
    <div class="col-md-6">
      <h3> Odds </h3>
      <app-odd *ngFor="let odd of oddList" [number]="odd"></app-odd>
    </div>
  </div>
</div>