<div class="container">
    <div class="row">
        <div class="col-md-4">
            <label>Username</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" class="form-control" [(ngModel)]="username">
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" [disabled]="!username" (click)="onClick()">Reset User</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Your username is: {{ username }}</p>
        </div>
    </div>
</div>