<div class="row">
    <div class="col-md-6">
        <button 
            *ngIf="!interval"
            type="button" 
            class="btn btn-success" 
            (click)="onStart()"
        >
            Start Game
        </button>
        <button 
            *ngIf="interval"
            type="button" 
            class="btn btn-danger" 
            (click)="onStop()"
        >
            Stop Game
        </button>
    </div>
    <div class="col-md-6">
        {{ num }}
    </div>
</div>