<div class="list-group">
  <div class="list-group-item">
    Add a button which says 'Display Details'
  </div>
  <div class="list-group-item">
    Add a paragraph with any content of your choice (e.g. 'Secret password = tuna')
  </div>
  <div class="list-group-item">
    Toggle the displaying of that paragraph with the button created in the first step
  </div>
  <div class="list-group-item">
    Log all buton clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)
  </div>
  <div class="list-group-item">
    Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" (click)="onClick()">Display Details</button>
      <div *ngIf="displayParagraph" class="well">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="list-group">
        <div 
          *ngFor="let click of clicks" 
          class="list-group-item"
          [ngStyle]="{'color': getColor(click) }"
          [ngClass]="{ 'blue': click >= 5 }"
        >
          You clicked again! {{ click }}
        </div>
      </div>
    </div>
  </div>
</div>